.custom-title {
  position: relative;
  text-align: center;
  display: block !important;
  color: #000;
}

.custom-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  right: -5px;
  height: 10px;
  background-color: #a378ff;
  z-index: -1;
}
