.custom-title {
  position: relative;
  text-align: center;
  display: block !important;
}

.custom-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #FFE500;
  z-index: -1;
}
