@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

#page-header h1 {
   position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
    font-family: 'Anonymous Pro', monospace;  
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #034ec3;}
  to{border-right-color: transparent;}
}

.custom-title {
  position: relative;
  text-align: center;
  display: block !important;
  color: #000;
}

.custom-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  right: -5px;
  height: 10px;
  background-color: #a378ff;
  z-index: -1;
}
